<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Flexify - Your stay, your way</title>

  <!-- Bootstrap core CSS -->

  <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/styles.css'%}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->

  <!-- Page Header -->

  <!-- Main Content -->
  <div>
    <img src="{% static "img/logo_b.svg" %}">
      <h3> Generated 3 new properties</h3>
  </div>


  <!-- Footer -->

  <!--JavaScript -->

</body>

</html>
